## What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
## A database is information that is set up for easy access, management and updating. 
## Computer databases typically store aggregations of data records or files

## SQL(Structured Query Language): It is the programming language used to interface with relational databases. 
## (Relational databases model data as records in rows and tables with logical links between them). 
## NoSQL(Not Only SQL): It is a class of DBMs that are non-relational and generally do not use SQL.

## What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [3]:
## DDL: DDL is a standardized language with commands to define the storage groups,different structures and objects in a database. 
## DDL statements create, modify and remove database objects, such as tables, indexes
## 1. CREATE DATABASE defines a logical database under the active location root directory. The database normally consists of a subdirectory of the same name that holds the physical table and index files
## Syntax:  CREATE TABLE [table name] ([column definitions]) [table parameters];

## 2. DROP: DROP DATABASE does the exact opposite of the CREATE DATABASE It deletes a database defined at a certain location, along with all the objects logically associated with it. It also deletes the database subdirectory even if it is empty and contains no objects logically associated with the database.
## Syntax: Drop table tablename;

## 3. ALTER: These commands are used to make modifications to database objects, such as indexes, locations and storage groups.
## Syntax: alter table tablename parameters;

## 4. TRUNCATE: TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain. To remove the table definition in addition to its data, use the DROP TABLE statement.

## What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [4]:
## The DML commands in Structured Query Language change the data present in the SQL database. 
## We can easily access, store, modify, update and delete the existing records from the database using DML commands.

## 1. INSERT Command: INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
## Syntax: INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N )

## 2. UPDATE  Command: UPDATE is another most important data manipulation command in Structured Query Language, 
## which allows users to update or modify the existing data in database tables.
## Syntax: UPDATE Table_name SET [column_name1= value_1, â€¦.., column_nameN = value_N] WHERE CONDITION;

## 3. DELETE Command: DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.

## This command of Data Manipulation Language does not delete the stored data permanently from the database. 
## We use the WHERE clause with the DELETE command to select specific rows from the table.
## Synatx: DELETE FROM Table_Name WHERE condition;

## Q4. What is DQL? Explain SELECT with an example.

In [5]:
## Data query language (DQL) is part of the base grouping of SQL sub-languages.
## These sub-languages are mainly categorized into four categories: a data query language (DQL), a data definition language (DDL), a data control language (DCL), and a data manipulation language (DML).

## SELECT::: The SELECT statement is used to select data from a database.The data returned is stored in a result table, called the result-set.
## Syntax:: SELECT column1, column2, ...FROM table_name;

## Explain Primary Key and Foreign Key.

In [6]:
## PRIMARY KEY :: The PRIMARY KEY constraint uniquely identifies each record in a table.
## Primary keys must contain UNIQUE values, and cannot contain NULL values.
## A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).

## Ex: CREATE TABLE Persons ( ID int NOT NULL, LastName varchar(255) NOT NULL, FirstName varchar(255),Age int,PRIMARY KEY (ID));

## FOREIGN KEY: The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.
## A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.
## The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

## Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select c1,c2 from test1.test_table1")
for i in mycursor.fetchall():
    print(i)