## Q1. What are the characteristics of the tuples? Is tuple immutable?

In [1]:
## Tuples are Immutable. We cannot update any element to the existing one 
## It uses paranthesis and the items in the tuples cannot be modified.
## Tupes stores different types of information.
## Indexing is possible in Tuples.
## Incase of tuples only 2 methods are available. count() and index()
## In Tuple we cannot assign new element to the existing.

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

In [2]:
## The two methods available in python() are count() and index()

## Example

t1 = (1,2,3,4,"Suni","4+5j",True)
t1

(1, 2, 3, 4, 'Suni', '4+5j', True)

In [3]:
type(t1)

tuple

In [4]:
## count() method displays number of occurences in the tuple.

t1.count(1)     ## displays 2 because True stores the boolean value. System stores 1 for True.

2

In [5]:
## Adding a new element in tuple

t1 = t1 + (4,)

In [6]:
t1

(1, 2, 3, 4, 'Suni', '4+5j', True, 4)

In [7]:
t1.count(4)

2

In [9]:
## Index()  Method is used to give the position.

t1.index(1)    ## Index(1) is at 0th element

0

In [11]:
t1.index(4)

3

In [13]:
t1.index('4+5j')

5

## Q.3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.

##List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [14]:
##In python Sets data types doesn't allow duplicates.
##They are an Unordered immutable set of objects which are unique,that do not support duplicated objects . They are not indexed.

In [15]:
##Write a code using a set to remove duplicates from the given list.

List1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [27]:
List1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

print(" Original list:::" + str(List1))   ## Printing list with the original one
List1 = list(set(List1))   ## Using set() method to remove duplicates from the given list.

print(" After removing duplicates from the list::" + str(List1))   ## Printing list with the original one

 Original list:::[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
 After removing duplicates from the list::[1, 2, 3, 4]

## Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

In [36]:
## update() Method::  Update a set with the union of itself and others.
## The update() method updates the current set, by adding items from another set (or any other iterable). 
## If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [38]:
s1 = {"Apple","Banana","Orange"}
s2 = {"Grapes","Strawberries","Banana"}

In [39]:


s1.update(s2)

print(s1)

{'Apple', 'Grapes', 'Strawberries', 'Banana', 'Orange'}

In [40]:
## union() Method :: The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

## You can specify as many sets you want, separated by commas.It does not have to be a set, it can be any iterable object.

## If an item is present in more than one set, the result will contain only one appearance of this item.

In [42]:
s1 = {"Apple","Banana","Orange"}
s2 = {"Grapes","Strawberries","Banana"}
s3 = {"Pine-Apple","Kiwis","Grapes"}

In [44]:
result = s1.union(s2,s3)
print(result)

{'Pine-Apple', 'Apple', 'Kiwis', 'Grapes', 'Strawberries', 'Banana', 'Orange'}

In [45]:
## Note:: update() adds all missing elements to the set on which it is called whereas set. union() creates a new set. 
## Consequently, the return value of set.

## Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [ ]:
## Dictionary is an ordered collection of items. 
## It stores elements in key/value pairs. Here, keys are unique identifiers that are associated with each value.
## Dictionaries are collection of items which is Ordered , changeable and do not allow duplicates.
## Dictionary items are presented in key:value pairs, and can be referred to by using the key name.


## Keys:  
    # Special Characters are not allowed for Keys. 
    # Lists ,dictionary and Sets are not allowed for keys.
    # Tuples are allowed in a key.
    
## Value:
   # Multiple values in List can be allowed in a Value
   # Tuples are allowed to declare in Value
   # Sets are allowed to declare in Value
   # Dictionary  can be allowed in value
   # Nested dictionary is allowed in value.

In [46]:
dict1 = {"course" : "Data Science", "Faculty" : ("Sudhanshu" , "Krish") , "Location" : ["pwskills"]}

In [47]:
dict1

{'course': 'Data Science',
 'Faculty': ('Sudhanshu', 'Krish'),
 'Location': ['pwskills']}

In [48]:
dict1["course"]

'Data Science'

In [50]:
dict1["Faculty"]

('Sudhanshu', 'Krish')

In [51]:
## We can update the dictionary

dict1["Experience"] = [10]

In [52]:
dict1

{'course': 'Data Science',
 'Faculty': ('Sudhanshu', 'Krish'),
 'Location': ['pwskills'],
 'Experience': [10]}

In [55]:
## Extracting the keys and values from the dictionary 

print(dict1.keys())
print(dict1.values())

dict_keys(['course', 'Faculty', 'Location', 'Experience'])
dict_values(['Data Science', ('Sudhanshu', 'Krish'), ['pwskills'], [10]])

In [63]:
## Length of the dictionary

len(dict1["Faculty"])

1

In [64]:
## display all the items() in the dictionary

list(dict1.items())

[('course', 'Data Science'),
 ('Faculty', ('Sudhanshu', 'Krish')),
 ('Location', ['pwskills']),
 ('Experience', [10])]

## Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level

In [74]:
## Yes, we can create a Nested Dictionary. Dictionary is an ordered collection of items. 
## It stores elements in key/value pairs. Here, keys are unique identifiers that are associated with each value.

## For keys Nested Dictionary is not allowed. But for Values Nested dictionary is allowed.
## Nested Dictionary:  A dictionary declared inside another dictionary.

dict2 = {"Fruits" : ("Apple", "Banana" ,"Orange") , "Veggies" : {"name" : "Tomato" , "Colour" : "Red"}}
         
        ## Note: From the above example Veggies is decalred as a Nested Dictionary.

In [75]:
dict2

{'Fruits': ('Apple', 'Banana', 'Orange'),
 'Veggies': {'name': 'Tomato', 'Colour': 'Red'}}

In [76]:
dict2["Fruits"]

('Apple', 'Banana', 'Orange')

In [77]:
dict2["Veggies"]

{'name': 'Tomato', 'Colour': 'Red'}

## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of 
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] 
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [78]:
## setdefault() Method:: Returns the value of the specified key. 
## If the key does not exist: insert the key, with the specified value
## syntax= dictionary.setdefault(keyname, value)

In [81]:
dict1 = {"language" : "Python", "course" : "Data Science Masters"}

In [82]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [83]:
## Add Values to the dictionary

dict1["course"] = {"Python","Machine Learning", "Deep Learning"}

In [84]:
dict1

{'language': 'Python',
 'course': {'Deep Learning', 'Machine Learning', 'Python'}}

In [85]:
dict1.setdefault("language" , "R-Prog")

'Python'

In [92]:
dict1.setdefault("Faculty","Sudhanshu")

'Sudhanshu'

In [93]:
dict1    ## Faculty "Sudhanshu is added by default"

{'language': 'Python',
 'course': {'Deep Learning', 'Machine Learning', 'Python'},
 'Faculty': 'Sudhanshu'}

### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display 
these three view objects for the given dictionary.

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']

In [95]:
## The three view objects in dictionaries are dict.keys(), dict.values(), dict.items()

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [96]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [97]:
## View Keys

dict1.keys()

dict_keys(['Sport', 'Teams'])

In [98]:
## View Values

dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [99]:
## View items

dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

   ##############################################################################################################