In [7]:
# if the prod_price >3000 20% off
#print the Price
# prod_price>=2000 and <=3000 30% off

product_price=int(input("Enter your price"))
if product_price>3000:
  print("Price is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print(f"The price is {product_price*0.7}")
else:
  print("Price is {}".format(product_price*0.6))

Enter your price 3000

The price is 2100.0

In [8]:
product_price=int(input("Enter your price"))
if product_price>3000:
  print("Price is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print(f"The price is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price is {product_price*0.6}")
else:
  print("Lets drink Something")

Enter your price 2000

The price is 1400.0

In [3]:
product_price=int(input("Enter your price"))
if product_price>3000:
  print("Price is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print(f"The price is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price is {product_price*0.6}")
else:
  print("Lets drink Something")

Enter your price 5678

Price is 4542.400000000001

In [4]:
product_price=int(input("Enter your price"))
if product_price>3000:
  print("Price is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you got an additional gift")
    print(f"The price is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price is {product_price*0.6}")
else:
  print("Lets drink Something")

Enter your price 1973

The price is 1183.8

In [5]:
#Single Statement
val=int(input("Enter the number"))
if(val<=99):print("value is less than 999")
else:
    print("Go Home")

Enter the number 998

Go Home

In [6]:
##while Loop
joining_age=25
while joining_age<=60:
    print(joining_age)    
    joining_age=joining_age+1
else:
    print("Its retirement age")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its retirement age

In [3]:
tot_amt=2000
while tot_amt!=0:
    tot_amt=tot_amt-100
    print(tot_amt)
else:
    print("put more money")

1900
1800
1700
1600
1500
1400
1300
1200
1100
1000
900
800
700
600
500
400
300
200
100
0
put more money

In [8]:
lst=["Sunitha",1,2,3,4,"apple","banana"]

In [9]:
type(lst)

list

In [11]:
lst[0]

'Sunitha'

In [12]:
lst[4]

4

In [14]:
lst

['Sunitha', 1, 2, 3, 4, 'apple', 'banana']

In [15]:
# How do we iterate all the elements

for x in lst:
    print(x)

Sunitha
1
2
3
4
apple
banana

In [16]:
fruits_lst = ["mango", "cherry"]
for a in fruits_lst:
    print(a)

mango
cherry

In [17]:
## we can write if condition under for loop
fruits_lst = ["mango", "cherry"]
for a in fruits_lst:
     print(a)
     if a=="mango":
        print("The fruit is mango")

mango
The fruit is mango
cherry

In [18]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [19]:
fruit[0]
fruit[1]
fruit[2]

'n'

In [20]:
fruit[0]

'm'

In [21]:
fruit[1]

'a'

In [22]:
### Nested Loops
## range keyword is used to take the start and to values
n=7
range(1,6)

range(1, 6)

In [23]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [24]:
for i in range (0,3):
    print(i)

0
1
2

In [25]:
for i in range(1,6,2):
    print(i)

1
3
5

In [26]:
for i in range(1,10,3):
    print(i)

1
4
7

In [27]:
## Nested Loops
n=7
for i in range(0,n):
    for j in range(0,i+1):
     print("*",end="")

****************************

In [28]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
     print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [29]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
     print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

In [3]:
### Equilateral Traiangle
#ASSIGNMENT PROBLEM

num_rows = int(input("Enter the number of rows: "))
row = 0 #row intialize
while(row < num_rows):
    row += 1 #Rows count increase
    s = num_rows - row #Spaces

    sc = 0 #Space counter intialize
    while(sc < s):
        print(" ", end='')
        sc += 1

    stars = 2*row-1 #Number of stars
    while(stars > 0):
        print("*", end='')
        stars -= 1
    print()

Enter the number of rows:  9

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

BREAK and CONTINUE

In [4]:
fruit_list = ["Mango","Apple","Cherry"]

In [5]:
for i in fruit_list:
    if i=="Cherry":
        print("The fruit is in the list")
        break
    print(i)

Mango
Apple
The fruit is in the list

In [33]:
## Pass Statement
for i in fruit_list:
    if i=="Cherry":
        print("The fruit is in the list")
        pass
    print(i)

Mango
Apple
The fruit is in the list
Cherry

In [6]:
## Continue Statement
for i in fruit_list:
    if i=="Cherry":
        print("The fruit is in the list")
        continue
    print(i)

Mango
Apple
The fruit is in the list

In [10]:
## Example of break statement
## Print the values of x and break the loop when x is 4

x = 1
while x < 7:
    print(x)
    if x == 4:
        break
    x+= 1

1
2
3
4

In [ ]:
## Check for the eligibility criteria 

age=int(input("Enter the number:")
if age>=18:
        status="Eligible to vote"
else:
        status="Not Eligible to vote"
print("You are" status)