### Logical Operators:::   And, Or, Not

In [6]:
True and True

True

In [7]:
True and False

False

In [8]:


False and True

False

In [5]:
True or True

True

In [7]:
start=True
stop=False

print(f"Defined value of start= {start}")
print(f"Defined value of stop= {stop}")

Defined value of start= True
Defined value of stop= False

In [8]:
not True

False

In [47]:
not False

True

In [9]:
not int(bool(0))

True

In [18]:
not(1)

False

In [11]:
int(bool(1))

1

In [12]:
not int(bool(1))

False

In [16]:
not int(bool(0))

True

In [19]:
not -1

False

In [9]:
start=True
stop=False

print(f"Defined value of start= {start}")
print(f"Defined value of stop= {stop}")

print(f"Defined value of start= {int (not start)}")
print(f"Defined value of stop= {int (not stop)}")

Defined value of start= True
Defined value of stop= False
Defined value of start= 0
Defined value of stop= 1

In [22]:
zero=1
one=1
print(f"boolean value of no. {zero} is {bool(zero)}")

boolean value of no. 1 is True

In [24]:
zero=1
one=-1
print(f"boolean value of no. {zero} is {not zero}")
print(f"boolean value of no. {one} is {not one}")

boolean value of no. 1 is False
boolean value of no. -1 is False

In [28]:
not(-1)

False

In [38]:
veg=True
salt=False
dish=veg and salt
print(f"vegetables : {veg}")
print(f"salt : {salt}")
print(f"veg and salt:{dish}")

vegetables : True
salt : False
veg and salt:False

In [32]:
not(False) * True

True

In [33]:
not(True) * False

True

In [36]:
## Precedence operation
not(False) * True

True

In [37]:
(not(False)) * True

1

In [39]:
not False * True

True

In [43]:
(not (False)) * True

1

In [44]:
not(False) * False == True

True

In [49]:
print (not (False * False))
print((not(False)) * False)

True
0

In [54]:
not False * True == True

True

## Equality Operators

In [57]:
## is, isnot , == , !=
lst_a=[1,2,3,4]
lst_b=[1,2,3,4]
## id() is operator is used to return the object with the address
print(id(lst_a))   ## 2 different variables with different address
print(id(lst_b))

2328461962304
2328461961984

In [58]:
lst_a is lst_b   ## 2 variables address are different

False

In [60]:
lst_A=[1,2,3,4]
lst_B=lst_A
lst_A is lst_B

print(id(lst_A))
print(id(lst_B))

2328461968640
2328461968640

In [61]:

lst_a=[1,2,3,4]
lst_b=[1,2,3,4]
lst_a is not lst_b

True

In [62]:
lst_a == lst_b

True

In [63]:
a=2
b=2
print(id(a))    ### Both the Address is same
print(id(b))

140736784836432
140736784836432

In [65]:
### Similarly take String
str1="Suni"
str2="Suni"
print(id(str1))
print(id(str2))  ## Adress will be same

2328461943088
2328461943088

In [68]:
### Similarly take String which is Immutable
str1="Suni"
str2="Suni1"
print(id(str1))
print(id(str2))  ## Address is different

2328461943088
2328461932528

In [66]:
lst_a=[10,20,30,40]

In [67]:
lst_a

[10, 20, 30, 40]

  ## Comparision Operations

In [70]:
## < , >, <=, >=

Max_Speed_byke= 150
Max_Speed_car= 200

print (f" Max speed: { Max_Speed_byke < Max_Speed_car}")
print (f" Max speed: { Max_Speed_byke > Max_Speed_car}")
print (f" Max speed: { Max_Speed_byke <= Max_Speed_car}")
print (f" Max speed: { Max_Speed_byke >= Max_Speed_car}")

 Max speed: True
 Max speed: False
 Max speed: True
 Max speed: False

## Arithmatic Operations

In [72]:
a=25
b=101

In [73]:
a+b

126

In [74]:
b*a

2525

In [75]:
a//b

0

In [76]:
a/b

0.24752475247524752

In [77]:
b//a

4

In [78]:
b/a

4.04

In [80]:
b%a
a%b

25

##Bitwise Operations

# Bitwise Operations

In [81]:
var=10
bin(var)  ## Binary Format that is binary value of 10 is 1010

'0b1010'

In [82]:
~var

-11

In [83]:
True | False

True

In [85]:
True & False

False

In [87]:
var >>1 ## Right Shift

5

In [88]:
var <<1 ## Left Shift

20

# Data Structures

In [10]:
## STRINGS
print("Sunitha")
print ('Sunitha')

Sunitha
Sunitha

In [12]:
str1="Sunitha"
type(str1)

str

In [13]:
## Immutable that we cannot change inside the string
str1[0]=12

TypeError: 'str' object does not support item assignment

In [94]:
## from the above example we cannot change anything inside the string

In [14]:
str1="Sunitha Kalyan"   ## we can use "tab" to viw all inbuilt functions

In [15]:
string = "PW SKills Data Science"
string[5]

'i'

In [98]:
string[5:] ## From 5th letter to entire sentence

'ills Data Science'

In [99]:
string[5:11] ## From 5th letter to index 11th character

'ills D'

In [100]:
string[-1]  # Last element

'e'

In [101]:
string[-1:]

'e'

In [102]:
string[-3:]

'nce'

In [103]:
string[-7:]   # Prints last 7 characters

'Science'

In [104]:
string[-7:5]  # Last element to read it to till 5. So no elements

''

In [105]:
string[7:5]

''

In [106]:
string[:-1]   ## Read everything except the last character

'PW SKills Data Scienc'

In [107]:
string[:] # Reads everything from start to end

'PW SKills Data Science'

In [108]:
name="Sunitha"
name[-5:4]

'ni'

In [109]:
string

'PW SKills Data Science'

In [110]:
string[:]

'PW SKills Data Science'

In [112]:
string[::-1   ] ## Display in reverse order from last
                ## :: is used to reverse the string

'ecneicS ataD slliKS WP'

In [113]:
string[::-2]  ## Display every 2nd element in reverse order

'eniSaa liSW'

In [114]:
string[6::-1]

'liKS WP'

In [115]:
string[6:3:-1]

'liK'

In [118]:
## Example 2

name="Sunitha"

In [119]:
name[::-1]  ## Reverse the string

'ahtinuS'

In [120]:
name[::-2] ## Reverse every 2nd element

'atnS'

In [121]:
name[::-3] ## Reverse every third element

'aiS'

In [122]:
name[4::-2]   ## starts from 4th element every 2nd element is reversed from Sunitha

'tnS'

In [123]:
name[3:1:-1]

'in'

In [17]:
## Example 3
## Write in Forward and Backward

course="Data Science Masters"

In [18]:
course[5:12]

'Science'

In [19]:
course[12:6:-1]

' ecnei'

In [20]:
course[12:4:-1]   ## Consider  till 12th Element  that is Data Science
                  # Consider 4th Element  Pick up only Science
                  # -1 that is reverse element that is "ecneics"

' ecneicS'

In [21]:
## Concatenation

print ("Hello" + "World")

HelloWorld

In [22]:
course * 5   # Concatenates course name 5 times.

'Data Science MastersData Science MastersData Science MastersData Science MastersData Science Masters'

In [23]:
len(course)  ## Length of Course name

20

In [24]:
course.find("n")  ## Find function returns the lowest index in S
                  ## That is finds letter 'n' in course name

9

In [25]:
course.find("a")   ## Finds letter "a"

1

In [134]:
course.find("a",2,10)   ## Finds "a"  from 2nd letter to 10th letter

3

In [26]:
## Count() Function

course.count('a')   ## Counts how many times letter "a" is present

3

In [137]:
course.count(' ')   ## Counts the empty spaces in Course variable

2

In [139]:
course.count('')  ## Counts the entire String between ''

21

In [143]:
course.count('D')

1

In [27]:
## String Split Function

course.split(' ')   ## Counts the number of sub strings in the entire string declared in course

['Data', 'Science', 'Masters']

In [146]:
course.split('S')   ## Split with "S" Letter

['Data ', 'cience Masters']

In [28]:
course.split('s')  ## Split with 's' Letter prese in the entire string

['Data Science Ma', 'ter', '']

In [148]:
course.partition('S')   ## partition will work with the first Letter 'S'

('Data ', 'S', 'cience Masters')

In [29]:
## String Upper and Lower Case
course.upper()  ## Upper Case

'DATA SCIENCE MASTERS'

In [152]:
course.lower()   ## Lower Case

'data science masters'

In [153]:
course.swapcase()  ## Swap with upper and Lower

'dATA sCIENCE mASTERS'

In [30]:
course.title()  ## For every Word in srring the first letter is capital

'Data Science Masters'

In [31]:
##Ex2:

course1= " sunitha i love you"

In [32]:
course1.title()   ## Every first letter is capital in the string given.

' Sunitha I Love You'