## TUPLES

In [1]:
## We can able to process the information same like Lists.
## We should use ( )

t = ()

In [2]:
type(t)

tuple

In [3]:
t1=(1,2,3,4.5,"Suni",45+7j, True)   # Tuple stores different types of information

In [4]:
type(t1)

tuple

In [5]:
## Difference between Lists and Tuples
## Lists = [ ]
## Tuple = ( )

In [6]:
l1= [ 1,2,3,4]
type(l1)

list

In [7]:
t1

(1, 2, 3, 4.5, 'Suni', (45+7j), True)

In [8]:
t1[0]    ## Indexing is possible in Tuples

1

In [9]:
t1[4]

'Suni'

In [11]:
t1[::-1]   ## :: is used to display in reverse order

(True, (45+7j), 'Suni', 4.5, 3, 2, 1)

In [12]:
t2=t1[::-1]   ## Reassigning t1 to t2

In [13]:
t2

(True, (45+7j), 'Suni', 4.5, 3, 2, 1)

In [15]:
t2

(True, (45+7j), 'Suni', 4.5, 3, 2, 1)

In [16]:
## Slicing operation in tuple to extract some part of the information

t2[0:3]   ## Extract the first 3 elements

(True, (45+7j), 'Suni')

## Incase of Tuples only 2 methods are available.  1) count() and  2)index()
## Incase of Lists many methods are available

In [17]:
## count() method displays number of occurences

t2

(True, (45+7j), 'Suni', 4.5, 3, 2, 1)

In [18]:
t2.count(3)    ## Displays how many times 3 is occured in Tuple

1

In [20]:
t2=t2 + (1,)  ## appending an element 1 in the tuple.
              ## There is no append() method in tuple

In [21]:
t2

(True, (45+7j), 'Suni', 4.5, 3, 2, 1, 1)

In [25]:
t2.count(1)

3

In [28]:
t2.count('Suni')

1

In [29]:
t2=t2+ (3,)

In [30]:
t2

(True, (45+7j), 'Suni', 4.5, 3, 2, 1, 1, 3)

In [31]:
t2.count(3)

2

In [38]:
t2.count(True)  ## We have True only once but the output is 3 because internally the system stores True=1 so overall count=3

3

In [33]:
## index() method is used to give the position

t2.index(1)     ## first element is True. System stores 1 for True. The index of True is 0th element

0

In [35]:
t2.index(45+7j)

1

In [37]:
t2.index('Suni')

2

In [39]:
## The major difference between Tuple and List is 
## In Tuple we cannot assign new element to the existing
## In List we can assign new element to the existing

t2

(True, (45+7j), 'Suni', 4.5, 3, 2, 1, 1, 3)

In [40]:
t2[0]

True

In [41]:
t2[0] = 345   ## Which is an error. As we cannot assign a new element to the existing in Tuple.

TypeError: 'tuple' object does not support item assignment

In [42]:
l1

[1, 2, 3, 4]

In [43]:
l1[0]

1

In [44]:
l1[0] = 100   ## Assigning a new element to the existing one in List

In [45]:
l1     ### 1 is replced with new element 100

[100, 2, 3, 4]

In [46]:
###  NOTE
### Tuples are IMMUTABLE:: We cannot update any element at any point of time in Tuple
### Lists are MUTABLE ::  We can update any element at any point of time in Lists

In [47]:
## Iterate the elements in Tuple using For Loop

for i in t2:
    print(i)

True
(45+7j)
Suni
4.5
3
2
1
1
3

In [48]:
## Iterate the elements in Tuple using For Loop with respect to data types

for i in t2:
    print(i, type(i))

True <class 'bool'>
(45+7j) <class 'complex'>
Suni <class 'str'>
4.5 <class 'float'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>
1 <class 'int'>
3 <class 'int'>

In [49]:
## Different methods in Tuple

t3=(1,3,4,5,5,6)
print(t3)

(1, 3, 4, 5, 5, 6)

In [54]:
max(t3)
min(t3)

1

In [58]:
print(t3.count(5))
print(t3.index(1))
t3 * 4

2
0

(1, 3, 4, 5, 5, 6, 1, 3, 4, 5, 5, 6, 1, 3, 4, 5, 5, 6, 1, 3, 4, 5, 5, 6)

In [59]:
## Tuple inside the tuple
## We can store 2 or more tuples in one Tuple

t1=(1,2,3,4)
t2=(5,6,7,8)

t3=(t1,t2)
t3

((1, 2, 3, 4), (5, 6, 7, 8))

In [60]:
## We can also store Tuples and Lists together in one Tuple

t4=(1,2,3,4,5)   #Tuple
t5=[6,7,8,9,10]  #List

t6=(t4,t5)
t6

((1, 2, 3, 4, 5), [6, 7, 8, 9, 10])

In [61]:
## We can delete a particular tuple. Updation is not possible but deletion we can do

del t4

In [62]:
t4    ## Tuple t4 is delelted by del keyword

NameError: name 't4' is not defined

In [63]:
## We can also dieplay the number of elements present in each tuple by len function

len(t1)   ## 4 elements are present in t1 tuple

4

In [64]:
## We can check whether a particular element is present in Tuple or not. It displays True if Present otherwise False.

t1

(1, 2, 3, 4)

In [65]:
1 in t1    ## Returns True as 1 is present in T1

True

In [66]:
5 in t1     ## Returns False as 5 is not present in T1

False

## SETS

In [67]:
## We use { } for Sets
## We use [ ] for Lists
## We use ( ) for Tuple

In [68]:
s = { }   # Empty curly braces type will display dict
type(s)

dict

In [69]:
## Whenever we use { } then the type will display dict
## whenever we use {1,2,3,4} then the type will display set

s1= {1,2,3,4}    ## Value inside curly braces the type will display set
type(s1)

set

In [70]:
## Sets will hold the values but only unique ones.

s2={1,1,2,2,3,3,3,4,4,4,5,5,5,5,5,6,6,6,6,6,6}
s2

{1, 2, 3, 4, 5, 6}

In [71]:
## Coverting the entire set to List

list(s2)
s2

{1, 2, 3, 4, 5, 6}

In [72]:
## Coverting the entire set to Tuple

tuple(s2)
s2

{1, 2, 3, 4, 5, 6}

In [74]:
## Coverting the entire list to set

s3= list(s2)
set(s3)

{1, 2, 3, 4, 5, 6}

In [75]:
## Set cannot hold lists 
## The reason is Lists are Mutable. i.e; Data inside the lists can be updated

##Example::
s4 ={1,2,3,4,[1,2,3,4]}      ## Collection of integer and List which gives an error

TypeError: unhashable type: 'list'

In [76]:
## Set can hold Tuples 
## The reason is Tuples are Immutable. i.e; Data inside the Tuple cannot be updated.

##Example::
s5 ={1,2,3,4,(1,2,3,4)}     ## Set holding Tuple
s5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [77]:
## Python is a Case Sensitive Language

s6 = { "Suni", "suni", 1,2,3}    ### Suni is different from suni. So it will not raise an error.
s6

{1, 2, 3, 'Suni', 'suni'}

In [79]:
s7 = { "suni", "suni", 1,2,3}    ## Sets cannot hold duplicates.
s7

{1, 2, 3, 'suni'}

In [80]:
## We cannot extract information from Sets

s7

{1, 2, 3, 'suni'}

In [81]:
s7[0]    ## Indexing is not allowed.

TypeError: 'set' object is not subscriptable

In [82]:
s7[::-1]   ## Slicing operation is also not possible.
        ## We cannot even reverse

TypeError: 'set' object is not subscriptable

In [83]:
# We can use For Loop to extract information from Sets

s7

{1, 2, 3, 'suni'}

In [85]:
for i in s7:
    print(i)

suni
2
3
1

In [87]:
s2

{1, 2, 3, 4, 5, 6}

In [88]:
for i in s2:
    print(i)

1
2
3
4
5
6

In [89]:
## Example2

s8={1,2,4,6,7,"Subhash"}

for i in s8:
    print(i)

1
2
4
6
7
Subhash

In [90]:
## Methods avaialble in sets. Press Shift-Tab

s8.add(34)
s8

{1, 2, 34, 4, 6, 7, 'Subhash'}

In [91]:
s8.add(21)
s8

{1, 2, 21, 34, 4, 6, 7, 'Subhash'}

In [92]:
## We can find the Length of the Set

len(s8)

8

In [93]:
## We can use pop() Method to remove the elements from Set

s8.pop()

1

In [94]:
s8

{2, 21, 34, 4, 6, 7, 'Subhash'}

In [95]:
s8.pop()

2

In [100]:
s8.pop()

6

In [97]:
s8.pop()

34

In [98]:
s8

{21, 4, 6, 7, 'Subhash'}

In [99]:
s8.pop()

4

In [101]:
s8

{21, 7, 'Subhash'}

In [102]:
## clear() clears all the elements from the set

s8.clear()
s8

set()

In [104]:
## Set Comparision

s9={1,2,3,4}
s10={1,2,3,5}

s9.difference(s10)   ## The difference between s9 and s10 is 4

{4}

In [105]:
s10.difference(s9)   ## The difference between s10 and s9 is 5

{5}

### DICTIONARY

In [106]:
## Dictionary can be defined in empty curly braces

d ={}
type(d)

dict

In [107]:
## The Dictionary hold a Key and a Value

d1={"name" :"Sunitha", "course" : "Msc", "number" : 12345}
type(d1)

dict

In [108]:
d1     ## Displays Key and a Value

{'name': 'Sunitha', 'course': 'Msc', 'number': 12345}

In [109]:
## Whenever we create a dictionary with the same key twice the latest one will be updated in dictionary.


d2 = {"name" : "Sub", "name" : "Subhash"}   ## The lastest Key value Subhash will be Printed in Dictionary.
d2

{'name': 'Subhash'}

### RULES AND DECLARATION OF KEY IN A DICTIONARY

In [110]:
## A Key can be a String or a Numeric Value.

d3 = {1234 : "Suni"}
d3

{1234: 'Suni'}

In [111]:
## A Key can also be a Floating point number

d4 = {1234.0 : "Suni"}
d4

{1234.0: 'Suni'}

In [112]:
## A Key can also be a Boolean Value number

d5 = {True: "Suni"}
d5

{True: 'Suni'}

In [114]:
## Special characters are not allowed in Key

d6 = {# : "Suni"}

SyntaxError: unexpected EOF while parsing (<ipython-input-114-309ddda7d560>, line 3)

In [115]:
## Lists are not allowed in Key

d7 = {[1,2,3,4] : "abc"}
d7

TypeError: unhashable type: 'list'

In [116]:
## Tuples are  allowed in Key

d8 = {(1,2,3,4) : "abc"}
d8

{(1, 2, 3, 4): 'abc'}

In [117]:
## Sets are not allowed in Key

d9 = {{1,2,3,4} : "abc"}
d9

TypeError: unhashable type: 'set'

In [118]:
## dictionary is not allowed in a key

d10 = {{"name" : "abc"} : "Suni"}    ## In this case {"name": "abc"} is a dictionary
d10

TypeError: unhashable type: 'dict'

In [119]:
###  NOTE::
### We can allow only a TUPLE in a Key

### RULES AND DECLARATION OF VALUE IN A DICTIONARY

In [120]:
## Multiple values in List can be allowed in a Value

d11 = {"Course_name" : ["BCA", "B.Sc", "MCA", "MBA"]}
d11

{'Course_name': ['BCA', 'B.Sc', 'MCA', 'MBA']}

In [122]:
## Tuples are allowed to declare in Value

d12 = {"Numbers": (1,2,3,4)}
d12

{'Numbers': (1, 2, 3, 4)}

In [123]:
## Sets are allowed to declare in Value

d13 = {"Number": {5,6,7,8}}
d13

{'Number': {5, 6, 7, 8}}

In [124]:
## Dictionary  can be allowed in value

d14= {"Course" : {"Branch" : "Blore"}}
d14

{'Course': {'Branch': 'Blore'}}

In [125]:
### NESTED DICTIONARY
## Dictionary inside the dictionary

d15= {"Course" : {"name" : "Subhash", "course" : "MBBS"}}
d15

{'Course': {'name': 'Subhash', 'course': 'MBBS'}}

In [126]:
## Example
## Dictionary which holds Tuples, Sets, Dictionary, List

d16= {"Course": ('BBA','BCA','B.Com'), "College" : {"DSI","PES","MSRAMAIH"}, "Faculty": {"CS" : "Sunitha", "IT" : "Kalyan", "AI" : "Subhash"}}
d16

{'Course': ('BBA', 'BCA', 'B.Com'),
 'College': {'DSI', 'MSRAMAIH', 'PES'},
 'Faculty': {'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'}}

In [127]:
d17 = d16= {"Course": ('BBA','BCA','B.Com'), "College" : {"DSI","PES","MSRAMAIH"}, "Faculty": {"CS" : "Sunitha", "IT" : "Kalyan", "AI" : "Subhash"}}
d17

{'Course': ('BBA', 'BCA', 'B.Com'),
 'College': {'DSI', 'MSRAMAIH', 'PES'},
 'Faculty': {'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'}}

In [128]:
d18 = {"Course": ('BBA','BCA','B.Com'), "College" : {"DSI","PES","MSRAMAIH"}, "Faculty": {"CS" : "Sunitha", "IT" : "Kalyan", "AI" : "Subhash"}, "Experience" : [10,20,5]}
d18

{'Course': ('BBA', 'BCA', 'B.Com'),
 'College': {'DSI', 'MSRAMAIH', 'PES'},
 'Faculty': {'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'},
 'Experience': [10, 20, 5]}

In [129]:
### We can add a new key and a value to the existing dictionary

d17

{'Course': ('BBA', 'BCA', 'B.Com'),
 'College': {'DSI', 'MSRAMAIH', 'PES'},
 'Faculty': {'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'}}

In [130]:
d17["Timing"] = (8, 8, 8)      ### Key = Timing
                            ### Value = (8,8,8)

In [131]:
d17

{'Course': ('BBA', 'BCA', 'B.Com'),
 'College': {'DSI', 'MSRAMAIH', 'PES'},
 'Faculty': {'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'},
 'Timing': (8, 8, 8)}

In [132]:
### We can extract a particular "Value" with the help of a "Key" in a Dictionary.

d18["Course"]

('BBA', 'BCA', 'B.Com')

In [133]:
d18["Faculty"]

{'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'}

In [136]:
type(d18["Experience"])   ## Displays the type of that particular Element ina  dictionary

list

In [137]:
## We can also add a new data set in the existing dictionary

d18

{'Course': ('BBA', 'BCA', 'B.Com'),
 'College': {'DSI', 'MSRAMAIH', 'PES'},
 'Faculty': {'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'},
 'Experience': [10, 20, 5]}

In [139]:
d18["location"] = "Bangalore"      ## Location is added to the data set 
d18

{'Course': ('BBA', 'BCA', 'B.Com'),
 'College': {'DSI', 'MSRAMAIH', 'PES'},
 'Faculty': {'CS': 'Sunitha', 'IT': 'Kalyan', 'AI': 'Subhash'},
 'Experience': [10, 20, 5],
 'location': 'Bangalore'}

In [140]:
d18["Experience"]   ## We can fetch a particular data set from the dictionary.

[10, 20, 5]

In [145]:
## We can also convert the dataset into Upper Case

d18["location"]

'Bangalore'

In [146]:
d18["location"].upper()

'BANGALORE'