## FUNCTIONS

In [2]:
print("This is my first program")

l=[1,2,3,4,5]
len(l)    ## In-built Function to print the length of the List

This is my first program

5

In [4]:
## Whenever we call the function in python we use "def" Keyword
       ## test() is the name of the function
       # We cannot call the empty function 
    
def test(): 
    pass           ### "pass" keyword is used to call the empty function

In [5]:
def test1():         ## test1() function is declared
    print("Python Test Function")

In [7]:
test1()      ## Calling the test1() Function
             ## We call the specific function 'n' number of times

Python Test Function

In [ ]:
### ERROR

test1() + "Sunitha"   ## Error . We cannot append any string to the function.
                      ##  Unsupported operand type. It is trying to concatenate non-type string
                      ##  As we used print() it results non-type. No Concatenation possible.

In [9]:
## Decalaring a Function which returns a value and Concatenation is possible.

def test2():
    return("Function with a return type")

test2()

In [10]:
test2()

'Function with a return type'

In [12]:
## Concatenation of string with the function test2()

test2() + " Sunitha"

'Function with a return type Sunitha'

In [13]:
##  We can return multiple statements with return statement.

def test3():
    return 1,4,"pwskills"

In [14]:
test3()

(1, 4, 'pwskills')

In [15]:
###  Example of declaring a variable with multiple values at a time

a= 1,2,3,4,5

In [16]:
a

(1, 2, 3, 4, 5)

In [17]:
a,b,c,d = 1,2,3.4,True

In [18]:
print(a)     ### a holds 1, b holds 2, c holds 3.4 and d holds True.
print(b)
print(c)
print(d)

1
2
3.4
True

In [19]:
### Similarly we can extract multiple values declared with return statemnt in a specific function

test3()

(1, 4, 'pwskills')

In [22]:
test3()[0]

1

In [23]:
test3()[1]

4

In [24]:
test3()[2]

'pwskills'

In [33]:
test3()

(1, 4, 'pwskills')

In [34]:
## We can also assign function to multiple variables.

a,b,c = test3()
print(a)
print(b)
print(c)

1
4
pwskills

In [37]:
###    Performing some operation inside the function

def test4():
    a=3*4 + 5
    return a

In [39]:
test4()

20

In [40]:
type(test4())

int

In [41]:
## Pass the data at the time of function declaration

def test5(a,b):
    c = a + b
    return c

In [43]:
test5(12,12)     ## passing the values to call the function
                 ## Calling the function by passing the values

24

In [44]:
test5("Sunitha","Subhash")     ## Passing the Strings while calling test5()

'SunithaSubhash'

In [45]:
test5([1,2,3,4],[4,5,6,7])    ## Passing the List while calling test5()

[1, 2, 3, 4, 4, 5, 6, 7]

In [46]:
test5(b="Subhash", a="Sunitha")   ## We can pass the variables in any order

'SunithaSubhash'

In [47]:
lst=[1,2,3,4,5,"Sunitha","Subhash",[1,2,3,4,5.6,6]]

In [49]:
## Create a function which will take list as an input and give me a final list with all the numeric value.

def test6(lst1):
    n = []
    for i in lst1:
        if type(i) == int:
            n.append(i)
    return n

In [ ]:
## Explanation:   we have some created lst1 inside the function so that we can pass the list later.
## We created an empty list 'n'. So that all the return values can store in that
## we used for loop to iterate all the elements in the called function
## We used if condition to check for integer elements.
## n.append() is used to add all the elements in the list

In [50]:
test6(lst)     ## Calling the function test6 and Passing the list "lst"

[1, 2, 3, 4, 5]

In [51]:
### We can also extract the integers from the list inside the list. For example

lst

[1, 2, 3, 4, 5, 'Sunitha', 'Subhash', [1, 2, 3, 4, 5.6, 6]]

In [59]:
def test7(a):
    n = []
    for i in a:                         ## Iterate the list outside with variable i
        if type(i) == list:             ## Check the type(i) for integers  
            for j in i:                 ## Interate the inner list with variable j in i
                if type(j) == int:      ## checking the type(j) for integers
                    n.append(j)         ## append the inner integers in empty list n
        else:
            if type(i) == int:          ## else checking for type(i) for integers
                n.append(i)             ## append the outside integers in empty list n
    return n                            ## return inner and outside integers in n

In [60]:
test7(lst)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 6]

In [61]:
#### Explanation: From the above example we have list inside the list. We were trying to extract the integers from nested list.
## We created test7() function. and n=[] empty list to store the return values.
## We declared to variables i and j to iterate Outside and inner lists. i= outside list and j=inner list

In [71]:
## Example
## Extract Strings and Float values from outside and inside Lists

lst5=[1,2,3,"Suni","Subhash",[2,3.4,5.0,6]]

def test8(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == float:
                    n.append(j)
        else:
            if type(i) == str:
                n.append(i)
    return n

In [72]:
test8(lst5)

['Suni', 'Subhash', 3.4, 5.0]

In [74]:
###  Example

def test9(a,b,c,d,e):
    pass

In [75]:
test9(1,2,3,4,5)    ##calling the function test9 by passing the values as per the arguments declared.

In [76]:
test9(1,2,3,4,5,6,7)    ## We declared 5 arguments but we tried to pass 7 arguments which leads to error

TypeError: test9() takes 5 positional arguments but 7 were given

In [83]:
## To overcome the above problem 
## we can able to pass multiple vaules Run-Time

def test10(*args):                    ## *args multiple arguments can be passed ( We can give any name for args)
    return args

In [84]:
test10(1,2,3,4)    ## We can pass 4 values

(1, 2, 3, 4)

In [85]:
test10("Sunitha","Subhash",[1,2,3,4],(2,3,4,5))   ## we can pass strings, List and Tuple

('Sunitha', 'Subhash', [1, 2, 3, 4], (2, 3, 4, 5))

In [86]:
## Example 

def test11(*sun):
    return sun

In [87]:
test11("a","b",("earth","moon"))

('a', 'b', ('earth', 'moon'))

In [88]:
## Example

def test12(*args,a):
    return args,a

In [89]:
test12(1,2,3,4,5)    ## For *args we can pass multiple values but gfor additional 'a' we should assign the value separately.

TypeError: test12() missing 1 required keyword-only argument: 'a'

In [90]:
test12(1,2,3,4,5, a="Sunitha")

((1, 2, 3, 4, 5), 'Sunitha')

In [91]:
### Example :: Extract only list from the arguments passed to the function.

## We can pass multiple arguments to the fucntion. Like tuples, list, strings etc;

def test13(*args):
    l = [ ]
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [93]:
test13(11,12,13,14, [1,2,3,4],"Suni","Subbu",[3,4,5,6],[7,8,9,10])    ## We passed integers, strings and lists

[[1, 2, 3, 4], [3, 4, 5, 6], [7, 8, 9, 10]]

In [94]:
## We can pass a dictionary inside the function

def test14(**kwargs):            ###  kwargs = keyword arguments
    return kwargs

In [95]:
test14()    ## Whenever we call test14() {} empty dictionary is returned

{}

In [98]:
type(test14())

dict

In [99]:
test14(a="Sunitha", b="Subhash", c="Kalyan",d=[1,2,3,4],e=(1,2,3,4,5)) ## We pass key and different type of values to the function.

{'a': 'Sunitha',
 'b': 'Subhash',
 'c': 'Kalyan',
 'd': [1, 2, 3, 4],
 'e': (1, 2, 3, 4, 5)}

In [137]:
### Extract the Lists through Keys from the function

def test15(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i, kwargs[i]

In [139]:
test15(a= (1,2,3,4) , b= ("Suni","Subbu"),c= [3,4,5,6],d= (7,8,9,10))

('c', [3, 4, 5, 6])

In [140]:
## Example:  Holding multiple arguments and Keyword arguments

def test16(*args, **kwargs):   
    return args,kwargs

In [141]:
test16(1,2,3,4,5, a="Suni", b="Subhash")

((1, 2, 3, 4, 5), {'a': 'Suni', 'b': 'Subhash'})

### GENERATOR FUNCTIONS

In [142]:
range(1,10)

range(1, 10)

In [143]:
for i in range(1,10):     #### Values with the range 1 and 10 are printed using for loop
    print(i)              ### range() gives us the data by iterating one by one.

1
2
3
4
5
6
7
8
9

In [144]:
###

lst21=[1,2,3,4,"Sunitha","Subhash"]

def test22(a):
    l=[]
    for i in a:
        if type(i) == int:
            l.append(i)
    return l

In [145]:
test22(lst21)

[1, 2, 3, 4]

In [148]:
## Fibonacci Series  : 0,1,1,2,3,5,8,13,21,34

def fib1(n):                    ## 'n' elements
    a,b=0,1                     ## First two values
    for i in range(n):          ## To iterate range of 'n' elements
        yield a                 ## Yield = To get values
        a,b=b , a+b             ## Logic towards adding first element and second element to produce third element.

In [149]:
fib1(10)     ## Prints Generator Object

In [150]:
for i in fib1(10):      ### Using For Loop to call the Generator Function
    print(i)

0
1
1
2
3
5
8
13
21
34