## LAMBDA Function

In [1]:
## Normal Function
n = 3
p = 2

def t1(n,p):
    return n**p    ## Returns power of n

In [2]:
t1(2,3)           ## Calling the function by passing the value of n and p

8

In [3]:
## Lambda Function :: A function with out any name . It is also called as Anonymous Function.

lambda n,p : n**p

In [4]:
## We can also assign lambda function to a variable

a = lambda n,p : n**p

In [6]:
a(2,2)   ## Calling the lamda Function

4

In [10]:
## Example2 : Addn and Multi of 2 numbers using Lambda Function

add = lambda a,b : a+b
mul = lambda x,y : x*y

In [12]:
print(add(2,3))   # Calling the function passing the values
print(mul(2,3))

5
6

In [13]:
## Example to convert Celsius to Fareinheat using Lambda Function

c_to_f = lambda c : (9/5)*c+32

In [14]:
c_to_f(34)   ## Calling the function

93.2

In [15]:
## Example: Maximum of 2 numbers using Lambda Function

max = lambda x,y : x if x>y else y

In [16]:
max(2,4)   ## Calling the function by passing the values.

4

In [18]:
# Example : Checking for even numbers if a number is divisible by 2 and remainder is 0
even = lambda x,y : x if x%2 ==0 else y

In [20]:
even(3,4)

4

In [21]:
## Example: Find the length of the String using Lambda Function
## len() is used to find the length of the string

len_str = lambda s: len(s)

In [22]:
len_str("Sunitha")  # Calling the function by passing the String to find the length

7

### Map Reduce and Filter Functions

In [23]:
## For Example We want to find the square of elements in the list

l1 = [1,2,3,4,5,6]

def t2(a):
    x = []
    for i in a:
        x.append(i**2)
    return x

In [24]:
t2(l1)

[1, 4, 9, 16, 25, 36]

In [25]:
## Map() is used to map each and every individual element
## Map(func , iterables) 

l1

[1, 2, 3, 4, 5, 6]

In [28]:
def sq(x):
    return x**2

In [29]:
list(map(sq,l1))    ## map() is used to map sq function and iterates in the list

[1, 4, 9, 16, 25, 36]

In [31]:
## Instead of writing the external function we can also use lambda() with map()

list(map(lambda x: x**2,l1))

[1, 4, 9, 16, 25, 36]

In [32]:
## We can also add some logic with lambda() and map()

## Example

l2=[1,3,5,7,9]
l2

[1, 3, 5, 7, 9]

In [40]:
list(map(lambda x: x+20, l1))  ## Add 20 to the list

[21, 22, 23, 24, 25, 26]

In [35]:
l2.append(11)

In [36]:
l2

[1, 3, 5, 7, 9, 11]

In [43]:
## Covert each element into String

list(map(lambda x: str(x),l1))

['1', '2', '3', '4', '5', '6']

In [46]:
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 3, 5, 7, 9, 11]

In [44]:
## add 2 lists using lambda and map functions

list(map(lambda x,y: x+y,l1,l2))

[2, 5, 8, 11, 14, 17]

In [50]:
## Another way of using lambda fucntion with map() externally
## We can also call the Lambda function ourtside the map() function

f = lambda x,y: x+y

In [51]:
list(map(f, l1,l2))     ## calling the lambda function using map() function

[2, 5, 8, 11, 14, 17]

In [53]:
## Coverting the string into Upper case

s = "Subhash"

list(map(lambda x: x.upper(), s))

['S', 'U', 'B', 'H', 'A', 'S', 'H']

### REDUCE Function

In [54]:
## We have to import reduce() function from the library.

from functools import reduce

In [55]:
l1

[1, 2, 3, 4, 5, 6]

In [57]:
## Using reduce function we have to find the summation of the elements in the list

reduce(lambda x,y: x+y, l1)

21

In [ ]:
## Explanation
## At first x=1, y=2, x+y=3
## At second x=3,y=3, x+y=6
            # x=6,y=4, x+y=10
            # x=10,y=5, x+y=15
            # x=15,y=6, x+y=21

In [58]:
## Without an external function we can use reduce() function

l1 = [1,2,3,4,5,6]

def add(x,y):
    return x+y

In [59]:
reduce(add,l1)

21

In [61]:
## Max of elements in the list

l1 = [1,2,3,4,5]

reduce(lambda x,y: x if x > y else y, l1)

5

## FILTER

In [65]:
##  Print all the even numbers from the list using Filter Function

l1=[1,2,3,4,5,6,7,8]

list(filter(lambda x: x % 2 == 0, l1))

[2, 4, 6, 8]

In [68]:
## Print all the positive numbers using filter function

l3 = [1,2,-3,-4,5.0,-6,7.1,9.0,10]

list(filter(lambda x: x >= 0 ,l3))

[1, 2, 5.0, 7.1, 9.0, 10]

In [69]:
## ///ly extract all the negative numbers

list(filter(lambda x: x < 0, l3))

[-3, -4, -6]

In [78]:
l4 = ["Sunitha","Subhash", "Kalyan", "skills", "Mandala"]

list(filter(lambda x: len(x) <= 6 , l4))

['Kalyan', 'skills']

In [79]:
for course in ['Data Science Masters', 'ML', 'data science masters', 'DL']:

    if len(course)!= 2:

        print('PwSkills' , end=' ')

PwSkills PwSkills

In [81]:
sum = 0

for i in range(1,100):

    sum += i

    if sum > 100:

        break

print(sum)

105